build/
model_npy/
bert_*
bert_config.json
a.out
tf_checkpoint/
libcudaBERT.so
__pycache__/
cmake*
CMakeCache.txt
CMakeFiles/
Makefile
test_pytorch.py
unit_test
cnpy/cmake_install.cmake
cnpy/CMakeFiles/
cnpy/example1
cnpy/Makefile
cnpy/libcnpy*
data/
